# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: Probability of a free-tier customer converting into a paying customer.

#### 2. What are the predictors/covariates?

Answer: Days since last log in, activity score and the demographic data (age, gender, location, profession).

#### 3. What timeframe is this data relevent for?

Answer: Jan-Apr 2015

#### 4. What is the hypothesis?

Answer: More active free-tier users will convert into paying customers.

## Let's test your knowledge of pandas

#### 1. Load the dataset from assets/admissions.csv

In [3]:
import pandas as pd
import numpy as np

location = "/Users/Alex/Desktop/Data Science/GENERAL ASSEMBLY COURSE - DATA SCIENCE/Project #1 - admissions/admissions_data.csv"

df = pd.read_csv(location)

df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

#### 2. Uh oh, you weren't given a data dictionary! Try to determine what 0/1 refer to in the admit column. Explain your logic. (You may assume that higher GPA's and GRE scores are better)

In [17]:
#The 0/1 in the admit column are dummy variables for admitted or not admitted. In this case 0 = not admitted and 1 = admitted.
#My logic that 1 = admitted is based on higher mean and median GRE scores and GPAs for students that have 1's in the admit column.
#It is very unlikely that students with higher mean and median GRE scores and GPAs would be less often admitted to grad school, therefore 1 must equal admitted.

overall_gpa_mean = df['gpa'].mean()
overall_gre_mean = df['gre'].mean()
admit_0_mean = df.loc[df['admit'] == 0].mean()
admit_0_median = df.loc[df['admit'] == 0].median()
admit_1_mean = df.loc[df['admit'] == 1].mean()
admit_1_median = df.loc[df['admit'] == 1].median()

print ("Overall GPA - Mean")
print(df['gpa'].mean())
print ("")
print ("Overall GRE - Mean")
print(df['gre'].mean())
print ("")
print ("ADMIT = 0 - Mean")
print (admit_0_mean)
print ("")
print ("ADMIT = 0 - Median")
print (admit_0_median)
print ("")
print ("ADMIT = 1 - Mean")
print (admit_1_mean)
print ("")
print ("ADMIT = 1 - Median")
print (admit_1_median)

Overall GPA - Mean
3.3909296482412077

Overall GRE - Mean
588.0402010050251

ADMIT = 0 - Mean
admit         0.000000
gre         573.579336
gpa           3.345404
prestige      2.641026
dtype: float64

ADMIT = 0 - Median
admit         0.00
gre         580.00
gpa           3.34
prestige      3.00
dtype: float64

ADMIT = 1 - Mean
admit         1.000000
gre         618.897638
gpa           3.489206
prestige      2.150794
dtype: float64

ADMIT = 1 - Median
admit         1.000
gre         620.000
gpa           3.545
prestige      2.000
dtype: float64

#### 3. What are the mean/median GPA and GRE scores for those admitted?

In [34]:
#The mean GPA for admitted students is 3.48
#The median GPA for admitted students is 3.54
#The mean GRE score for admitted students is 618
#The median GRE score for admitted students is 620

#Here I am determining the 25% and 75% quantiles for GPA and GRE scores, in order to also understand the best and worst performing students.
#I first had to call the dropna()method to execute becuase of missing values in the data.

df_full = df.dropna()
print(df_full['gpa'].quantile([.25, .75]))
print(df_full['gre'].quantile([.25, .75]))

0.25    3.13
0.75    3.67
Name: gpa, dtype: float64
0.25    520.0
0.75    660.0
Name: gre, dtype: float64

#### 4. Which schools do you think are more prestigous, those with a prestige score of 1 or 4? Explain your logic.

In [36]:
#The schools with the highest prestige have a score of 4. And the schools with the lowest prestige have a score of 1.
#My logic is based on the assumption that schools with the highest prestige have the lowest admission rate -- it's harder to get in!
#Based on the data, schools with a prestige score of 4 do have the lowest admission rate (17.9%) and schools with a prestige score of 1 have a much higher admission rate (54%).

Prestige_1 = df.loc[df['prestige'] == 1].mean()
Prestige_2 = df.loc[df['prestige'] == 2].mean()
Prestige_3 = df.loc[df['prestige'] == 3].mean()
Prestige_4 = df.loc[df['prestige'] == 4].mean()

print ("Prestige = 1")
print(Prestige_1)
print ("")
print ("Prestige = 2")
print(Prestige_2)
print ("")
print ("Prestige = 3")
print(Prestige_3)
print ("")
print ("Prestige = 4")
print(Prestige_4)

Prestige = 1
admit         0.540984
gre         611.803279
gpa           3.453115
prestige      1.000000
dtype: float64

Prestige = 2
admit         0.353333
gre         596.621622
gpa           3.364027
prestige      2.000000
dtype: float64

Prestige = 3
admit         0.231405
gre         574.876033
gpa           3.432893
prestige      3.000000
dtype: float64

Prestige = 4
admit         0.179104
gre         570.149254
gpa           3.318358
prestige      4.000000
dtype: float64

#### 5. Create a data dictionary for this dataset.

In [ ]:
"""
    DATA DICTIONARY
    Admit: 0 = not admitted; 1 = admitted
    GRE: scores between 200-800
    GPA: 0.0 - 4.0
    Prestige: 1 = highest prestigious; 2 = high prestige; 3 = low prestige; 4 = lowest prestige
"""